@import '../../styles/App/breakpoints.scss';


.container {
  display: flex;
  align-items: center;
  gap: 0.5em;

  a {
    color: darkgray;
    text-decoration: none;
  }
  a:hover {
    color: lightgray;
  }
}

.value {
  color: darkgray;

  word-wrap: break-word;
  max-width: 30ch;
  @include breakpoint(lg) {
    max-width: 25ch;
  }
}

.icon {
  object-fit: contain;

  @include breakpoint(sm) {
    max-width: 26px;
    max-height: 26px;
  }
  @include breakpoint(md) {
    max-width: 32px;
    max-height: 32px;
  }
  @include breakpoint(lg) {
    max-width: 38px;
    max-height: 38px;
  }
}
