.AllOrder {
  .cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    background: #fff;
    border-bottom: 5px solid transparent;
    background-clip: padding-box;
    font-size: 1.2vw;
  }
  .all-order-table{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;
 
}

  thead {
    background: var(--bg2);
    font-size: 1.5vw;
  }

  .toggle-btn {
    width: 40px;
    height: 21px;
    background: grey;
    border-radius: 50px;
    padding: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .toggle-btn > .inner-circle {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }

  tr.Delivered {
    background: green !important;
  }

  tr.Shipping {
    background: orange !important;
  }

  tr.rejected {
    background: red !important;
  }

  tr.Accepted {
    background: blue !important;
  }

  .tfoot_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .shoping__checkout {
    padding: 30px;
    padding-top: 20px;
    margin-top: 50px;
    width: 20vw;
    min-width: 250px;
     span {
       background-color:#f5f5f5 !important;     
    }
    .primary-btn {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: var(--primary);
        letter-spacing: 2px;
    }
    
}

.shoping__checkout h5 {
    color: #1c1c1c;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 28px;
    text-align: center;
}

.shoping__checkout ul {
    margin-bottom: 28px;
}

.shoping__checkout ul li {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 13px;
    margin-bottom: 18px;
}

.shoping__checkout ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}

.shoping__checkout ul li span {
    font-size: 18px;
    color: var(--secondary);
    float: right;
}

.shoping__checkout .primary-btn {
    display: block;
    text-align: center;
}

}