.category-section{
margin-block: 80px;
h1{
margin-bottom:0px;
font-weight: bold;
text-align: center;

}
    .category-header{
        text-align: center;
        font-size: 2em;
        font-weight: 600;
        margin-top: 70px;
    }

    .category-card{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 10px ;
        position: relative;
        margin-bottom: 80px;
        width: 25%;

      
       h2{
            position: absolute;
            top: -21%;
            padding: 7px;
            background-color: var(--primary);
            width: 60%;
            text-align: center;
            color: var(--bg);
        //    border-top-left-radius: 20%;
        //    border-top-right-radius: 20%;
        //    margin-bottom: 14px !important;
}
        img{
            width: 60%;
            height: 160px;
            object-fit: cover;
            // border-radius:20%;
            // -webkit-border-radius:20%;
            // -moz-border-radius:20%;
            // -ms-border-radius:20%;
            // -o-border-radius:20%;
}
        .category-button{
            width: 60%;
            border-radius: 8px;
            padding: 8px;
            background-color: white;
            color: var(--primary);
            font-size: 1.3em;
            margin: 10px;
            font-weight: bold;
    
            border: 1px solid var(--primary);
            transition: .7s;
            &:hover{
                color: white;
                background-color: var(--primary);
            }
        }
    
    }
    .category-con {
        display: flex;
        width: 100%;
       
        flex-wrap: wrap;
    
        justify-content: space-around;
        // padding: 10px;
      }
      
      
    
}



@media only screen 
and (max-width : 768px){
    .category-section  .category-card{
        width: 51%;
        h2{
            width: 100%;
        }
    }
  
}

@media only screen 
and (max-width : 414px)
{
    .category-section  .category-card{
       
        width: 40% !important;
        h2 , img{
            width: 100%;
        }
    }
    
}
