
.FeaturedProduct{
    height: 100vh;
    margin-top: 80px;
    overflow: hidden;
    .header-FeaturedProduct{
        text-align: center;
        p{
            font-weight: 800;
            font-size: 3em;
        }
    }
}