
.FeaturedProduct{
    height: 100vh;
    margin-top: 80px;
    overflow: hidden;
    .header-FeaturedProduct{
        text-align: center;
        p{
            font-weight: 800;
            font-size: 3em;
        }
    }
}
.SubTiltle{
    display: flex;
    justify-content: space-between;
     align-items: center;
     padding: 5vh 5vw;
     direction:rtl;
     h1{
      font-weight: bold;  
     }
     
}
.swiper-slide {
width: 350px !important;
}