

.FeaturedProduct{
    overflow: hidden;
    .header-FeaturedProduct{
        
        text-align: center;
        p{
            font-weight: 800;
            font-size: 3em;
        }
    }
}
.SubTiltle{
    display: flex;
    justify-content: space-between;
     align-items: center;
     margin : 7vh 5vw 7vh 5vw;
     direction:rtl;
     h1{
      font-weight: bold;  
     }
     
}
.ar .SubTiltle{
    direction:ltr !important;

}
// .swiper-slide {
// // width: 350px !important;
// }