

body{ background-color: var(--bg) ; max-width: 100vw;    overflow-x: hidden;}
a{color: inherit; font-weight: bold; text-decoration: none !important; &:hover{color: var(--secondary);} }
html{background-color: var(--bg);}
*{
    padding: 0;
    margin: 0;
}
.Tool .ToolTip{
    background: var(--primary);
}   

.error{
    align-self: flex-start !important;
    color: red !important;
    
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
//   margin: 0;
}