

body{  font-family:'Tajawal', sans-serif;background-color: var(--bg) ; max-width: 100vw; overflow-x:hidden ; }
a{color: inherit; font-weight: bold; text-decoration: none !important; &:hover{color: var(--secondary);} }
html{background-color: var(--bg);}
*{
    padding: 0;
    margin: 0;
}

