:root {
    --primary: #8a1e41;
    --secondary: #976a47;
    --text: #332d2d;
    --bg: white;
    --shadow: rgba(0, 0, 0, 0.15);
    --bg2:#f5f5f5;



}

// :root:has(.dark) {
//     --primary: #597e5b;
//     --secondary: #ffd12e;
//     --text: #ffffff;
//     --bg: #332d2d;
//     --shadow: #332d2d;



// }
