@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
.Product_Card{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 3vw;
    gap: 30px;
}
.col_Product {
    .Cards{
        margin: 10px !important;
    }
}
.Cards{
    width: 220px; 
     margin: 10px auto 100px auto !important;
     
    
.product-card {
    width: 220px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px auto;
    background: #fafafa;
    
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: var(--primary);
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 15px;
    direction: rtl;
}

.product-catagory {
    display: block;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 5px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 3px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    
}

.product-details h4 a:hover {
    color: var(--primary);
}

.product-details p {
    font-size: 11px;
    line-height: 22px;
    margin-bottom: 7px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
    

}

.product-bottom-details div {
    float: right;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: var(--primary);
    font-weight: 600;
}

.product-price small {
    font-size: 60%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: left;
}

.product-links a {
    display: inline-block;
    margin-left: 11px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.product-links a:hover {
    color: var(--primary);
}
}
.Flex{
    display: flex;  align-items: center; gap: 20%;
}