.Footer{
  margin-top: 50px;
  direction: ltr;
}
.Left_Side{
   top: -0px !important;
  //  position: relative !important;
}
.Product{


  .fillter-con{
  
   height: 100vh;

  }
  .Down_Product {
    padding-inline: 2vw;
    margin-bottom: 20px;
  
    .row {
      border: 1px solid #ebebeb;
  
    }
  
    .col-lg-3 {
      border: 1px solid #ebebeb;
      padding: 5vh 3vw;
      // position: sticky;
      
      top: 10px;
    }
  }
  
  .col_Product_Top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
  
    svg {
      font-size: 3vw;
      margin-inline: 10px;
    }
  
    h4 {
      height: 15px;
      font-weight: bold;
      margin-bottom: 0;
    }
  }
  
  .slidecontainer_Top {
    display: flex;
    align-items: center;
    margin: 10px 0px;
  
    svg {
      font-size: 1.5vw;
      margin-inline: 3px;
      transform: translateY(-3px);
      -webkit-transform: translateY(-3px);
      -moz-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      -o-transform: translateY(-3px);
    }
  }
  
  .slider {
    width: 100%;
    height: 10px;
    border-radius: 1px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .col_Product_Down {
    margin-top: 20px;
    
  
    h4 {
      font-weight: bold;
      margin-bottom: 10px;
  
    }
  }
  

    input[type="checkbox"] {
      height: 15px;
      width: 15px;
  
    }
  
    .form-check-label {
      font-size: 12px;
      margin: 3px 10px;
      font-weight: 500;
    }
  
    .form-check {
      margin-bottom: 10px;
  
    }
  
  
  .col_Product_Mid {
    margin-bottom: 20px;
  }
  
  
    .form-select {
      height: 40px;
      font-size: 16px;
  
      option {
        font-size: 16px;
        outline: none !important;
        border: none !important;
  
      }
    }
  
    .Category_sel {
      margin-bottom: 15px;
    }
  
    .Card_Top {
      padding: 4vh 3vw;
      font-size: 2vw;
  
  
    }
  
  
  
  .btn-donate {
    --clr-font-main: #8a1e41;
    --btn-bg-1: #976a47;
    --btn-bg-2: #8a1e41;
    --btn-bg-color: #976a47;
    --radii: 0.5em;
    cursor: pointer;
    min-width:6vw;
    margin-inline: 6px;
    min-height: 44px;
    font-size: 16px;
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--bg);
    box-shadow: #8a1e41;
  }
  
  .btn-donate:hover {
    background-position: right top;
  }
  
  .btn-donate:is(:focus, :focus-within, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }
  
  
  
  .Button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // flex-direction: column;
    .button-con{
      width: 200px;
      
      display: flex;
      justify-content: space-between;
      padding: 10px;
      button{
        border-radius: 10px;
        padding: 10px;
        border: 1px solid var(--secondary);
        font-size: 1.4em;
        background-color: var(--primary);
        color: white;
        @include Shadow
      }
  
    }
   
  }
  .row .col-lg-3  {
    width: 25% !important;
  }
  .row .col-lg-9  {
    width: 75% !important;
  }
  @include devices(mobile){
  
    .Card_Top{
      font-size: 10px !important;
      font-weight: 600;
    }
  
   
  }
  .close_Fillter{
    
    display: none;
  }
  @include devices(tablet){
    .close_Fillter{
      direction: rtl;
      font-size: 4vw;
      cursor: pointer;
      display: block !important;
    }
    .col-lg-3 {
      position: fixed !important;
      top: -5px !important;
      transform: translateX(-200%);
      min-width: 50% !important;
}
  .row .col-lg-9  {
    width: 100% !important;
  }
  .Fillter{
    display: flex !important;
  }
  }
  .Card_Top{
    display: flex;
  }
  .FillterON{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    z-index: 999;
    background: white;

}
.btn-donate {
 
  width:45vw;

}
@include devices(mobile){
  .Card_Top{
    font-size: 10px !important;
    font-weight: 600;
  }

 
}
.close_Fillter{
  
  display: none;
}
@include devices(tablet){
  .close_Fillter{
    direction: rtl;
    font-size: 4vw;
    cursor: pointer;
    display: block !important;
  }
  .col-lg-3 {
    // position: absolute !important;
    top: -5px !important;
    transform: translateX(-200%);
    min-width: 50% !important;
}
.row .col-lg-9  {
  width: 100% !important;
}
.Fillter{
  display: flex !important;
}
}
.Card_Top{
  display: flex;
}
.FillterON{
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  z-index: 999;
  background: white;

}
.btn-donate {

width:45vw;


}
@include devices(mobile){
  .button-con{
    width: 180px !important;
  
    button{
     
      padding: 7px !important;
    
      font-size: 1.2em !important
     
    }
  }
  .col-lg-3{
    display: inline !important;
  }
  .close_Fillter{
    direction: rtl;
    font-size: 4vw;
    cursor: pointer;
    display: block !important;
  }
 
  .col-lg-3 {
    //position: absolute !important;
    top: -5px !important;
    transform: translateX(-520%);
    min-width: 50% !important;
    -webkit-transform: translateX(-520%);
    -moz-transform: translateX(-520%);
    -ms-transform: translateX(-520%);
    -o-transform: translateX(-520%);
}
.row .col-lg-9  {
  width: 100% !important;
}
.Fillter{
  display: flex !important;
}
.FillterON{
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  z-index: 999;
  background: white;

}
}
}


.loader-product{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}